### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
...,...,...,...,...,...,...,...,...,...,...,...,...
2354,Iphone 15,Electrónicos,1284400.0,66600.0,15/11/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
2355,Impresora,Electrónicos,282800.0,15300.0,18/03/2023,Lucas Olivera,Bogotá,5,Nequi,1,4.60971,-74.08175
2356,Juego de mesa,Juguetes,122900.0,7200.0,06/07/2021,Lucas Olivera,Cali,5,Tarjeta de crédito,4,3.43722,-76.52250
2357,Cama box,Muebles,691300.0,35000.0,02/05/2022,Pedro Gomez,Pasto,1,Tarjeta de crédito,2,1.21361,-77.28111
2358,Smartwatch,Electrónicos,195000.0,8600.0,18/06/2022,Felipe Santos,Cali,4,Tarjeta de crédito,1,3.43722,-76.52250

#1. Análisis de facturación

In [3]:
#Calcula el total de las ventas por tienda
tiedas = [tienda, tienda2, tienda3, tienda4]
total_ventas = []
for tienda in tiedas:
    total_ventas.append(tienda['Precio'].sum())

#Imprime el total de ventas por tienda
for i in range(len(tiedas)):
    print(f"La tienda {i+1} ha vendido {total_ventas[i]:,.2f}")

La tienda 1 ha vendido 1,150,880,400.00
La tienda 2 ha vendido 1,116,343,500.00
La tienda 3 ha vendido 1,098,019,600.00
La tienda 4 ha vendido 1,038,375,700.00

In [4]:
#Mostrar la tienda con mas ingresos
print(f"La tienda {total_ventas.index(max(total_ventas))+1} ha vendido {max(total_ventas):,.2f}")

La tienda 1 ha vendido 1,150,880,400.00

# 2. Ventas por categoría

In [5]:
#Calculamos la cantidad de productos vendidos por categoria de cada tienda

count_tienda = tienda['Categoría del Producto'].value_counts()
count_tienda2 = tienda2['Categoría del Producto'].value_counts()
count_tienda3 = tienda3['Categoría del Producto'].value_counts()
count_tienda4 = tienda4['Categoría del Producto'].value_counts()

#Imprimimos los resultados
print('Tienda 1\n',count_tienda,'\n')
print('Tienda 2\n',count_tienda2,'\n')
print('Tienda 3\n',count_tienda3,'\n')
print('Tienda 4\n',count_tienda4,'\n')

Tienda 1
 Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

Tienda 2
 Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Tienda 3
 Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Tienda 4
 Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [6]:
#La categorias mas vendiadas por tienda
list_group = [count_tienda, count_tienda2, count_tienda3, count_tienda4]

for i in range(len(list_group)):
    print('La categoria mas vendida en la tienda ', i+1, ' es: ', list_group[i].index[0])

La categoria mas vendida en la tienda  1  es:  Muebles
La categoria mas vendida en la tienda  2  es:  Muebles
La categoria mas vendida en la tienda  3  es:  Muebles
La categoria mas vendida en la tienda  4  es:  Muebles

# 3. Calificación promedio de la tienda

In [ ]:
#Calculamos la calificacion promedio de de los productos por tienda
cal_tienda = tienda['Calificación'].mean()
cal_tienda2 = tienda2['Calificación'].mean()
cal_tienda3 = tienda3['Calificación'].mean()
cal_tienda4 = tienda4['Calificación'].mean()

In [17]:
#Imprimimos la calificacion promedio con solo 2 decimales de cada tienda

list_cal = [cal_tienda, cal_tienda2, cal_tienda3, cal_tienda4]

for cal in range(len(list_cal)):
    print(f"La calificacion promedio de la tienda {cal+1} es: {list_cal[cal]:.2f}")

#La tienda con mayor calificacion promedio
print(f"\nLa tienda {list_cal.index(max(list_cal))+1} con mayor calificacion promedio es: {max(list_cal):.2f}")

La calificacion promedio de la tienda 1 es: 4.00
La calificacion promedio de la tienda 2 es: 4.04
La calificacion promedio de la tienda 3 es: 4.05
La calificacion promedio de la tienda 4 es: 4.00

La tienda 3 con mayor calificacion promedio es: 4.05

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda